<div class="container card shadow p-4" style=" margin: 0 auto;">
    <h5 class="fw-bold">Información Personal</h5>
    <span class="text-muted">Actualiza tu información básica de usuario</span>
    <hr>
    <form>
        <div class="mb-3">
        <label for="fullName" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="fullName" placeholder="Ingresa tu nombre">
        </div>
        <div class="mb-3">
        <label for="dob" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="dob" placeholder="Ingresa tu apellido">
        </div>
        <div class="mb-3">
        <label for="address" class="form-label">Email</label>
        <input type="email" class="form-control" id="address" placeholder="Ingresa tu correo electrónico">
        </div>
        <button type="submit" class="btn btn-dark">Guardar Cambios</button>
    </form>
</div>