<div class="container card shadow p-4" style="margin: 0 auto;">
    <h5 class="fw-bold">Información Personal</h5>
    <span class="text-muted">Actualiza tu información básica de usuario</span>
    <hr>

    <form (ngSubmit)="onSubmit()">

        <div class="mb-3">
            <label for="fullName" class="form-label">Nombre</label>
            <input
                type="text"
                class="form-control"
                id="fullName"
                name="name"
                placeholder="Ingresa tu nombre"
                [(ngModel)]="formData.name"
            >
        </div>

        <div class="mb-3">
            <label for="lastName" class="form-label">Apellido</label>
            <input
                type="text"
                class="form-control"
                id="lastName"
                name="last_name"
                placeholder="Ingresa tu apellido"
                [(ngModel)]="formData.last_name"
            >
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Ingresa tu correo electrónico"
                [(ngModel)]="formData.email"
            >
        </div>

        <div class="mb-3">
            <label for="address" class="form-label">Dirección</label>
            <input
                type="text"
                class="form-control"
                id="address"
                name="address"
                placeholder="Ingresa tu Dirección"
                [(ngModel)]="formData.address"
            >
        </div>

        <button type="submit" class="btn custom-btn">
            Guardar Cambios
        </button>

    </form>
</div>
