<div class="container mt-5">
  <div class="card shadow p-3" style=" margin: 0 auto;">
    <div class="d-flex gap-3 justify-content-between align-items-center mb-2">
      
      <div class="me-3 d-flex align-items-center">
        <img src="https://media.istockphoto.com/id/1337144146/vector/default-avatar-profile-icon-vector.jpg?s=612x612&w=0&k=20&c=BIbFwuv7FxTWvh5S3vB6bkT0Qv8Vn8N5Ffseq84ClGI=" 
             class="rounded-circle" 
             style="width: 120px; height: 120px;" 
             alt="Avatar">
        <div>
            <h5 class="card-title mb-1 fw-bold" style="color: black;">{{usuario?.name}} {{usuario?.last_name}}</h5>
            <p class="card-text text-muted mb-0">{{usuario?.email}}</p>
            <br>
            <span class="badge rounded-pill bg-light text-dark border">
                {{usuario?.contact?.length}} contactos
            </span>

        </div>
      </div>

      <div class="ms-3">
        <button class="btn btn-dark gap-4" (click)="EditarPerfil()">
            <i class="bi bi-pencil-square"></i>
            {{ Editar ? 'Cancelar' : 'Editar Perfil' }}
        </button>
      </div>

    </div>
  </div>
</div>
@if (!Editar) {
<div class="container mt-4">

  <div class="row g-4 justify-content-center">

    <!-- PERFIL -->
    <div class="col-12 col-md-5">
      <div class="card shadow border-1 rounded-4 p-4">
        <h5 class="fw-bold mb-4 text-center">Resumen del perfil</h5>

        <div class="mb-3">
          <h6 class="text-muted mb-1">Nombre Completo</h6>
          <p class="text-secondary mb-0">{{ usuario?.name }} {{ usuario?.last_name }}</p>
        </div>

        <div>
          <h6 class="text-muted mb-1">Correo</h6>
          <p class="text-secondary mb-0">{{ usuario?.email }}</p>
        </div>
      </div>
    </div>

    <!-- CONTACTO -->
    <div class="col-12 col-md-5">
      <div class="card shadow border-1 rounded-4 p-4">
        <h5 class="fw-bold mb-4 text-center">Información de contacto</h5>

        <!-- Sin contactos -->
        <div *ngIf="contacts.length === 0" class="text-center py-4">
          <i class="bi bi-telephone-plus-fill fs-1 text-muted"></i>
          <p class="mt-3 text-secondary">No hay información de contacto</p>
        </div>

        <!-- Lista de contactos -->
        <ul *ngIf="contacts.length > 0" class="list-group list-group-flush">
          <li *ngFor="let c of contacts" class="list-group-item d-flex justify-content-between border-0 ps-0">
            <span>
              <strong>{{ getContactType(c.contact_means_id) }}:</strong>
              {{ c.value }}
            </span>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
}


@if (Editar) {
  <br>
  <app-profile-selector></app-profile-selector>
  <br>
}
