<div class="contenedor">
  <header class="header">
    <h1 class="titulo">Solicitudes de Trabajo</h1>
    <button class="btn-negro" routerLink="/Lista">Buscar Más Trabajos</button>
  </header>

  <div class="estadisticas">
    <div class="caja total">
      <div class="icon icon-total"></div>
      <h3>{{ totalSolicitudes }}</h3>
      <p>Total</p>
    </div>

    <div class="caja pendiente">
      <div class="icon icon-pendiente"></div>
      <h3>{{ pendientes }}</h3>
      <p>Pendientes</p>
    </div>

    <div class="caja aceptada">
      <div class="icon icon-aceptada"></div>
      <h3>{{ aceptadas }}</h3>
      <p>Aceptadas</p>
    </div>

    <div class="caja rechazada">
      <div class="icon icon-rechazada"></div>
      <h3>{{ rechazadas }}</h3>
      <p>Rechazadas</p>
    </div>
  </div>

  <div class="barra-filtros">
    <div class="filtros">
      <button *ngFor="let f of filtros" (click)="cambiarFiltro(f)" [ngClass]="{ activo: filtroActual === f }">
        {{ f }}
      </button>
    </div>

    <button class="btn-negro btn-mini" routerLink="/administracion-contratos">Ver Contratos</button>
  </div>

  <div class="cards">
    <div *ngFor="let s of solicitudesFiltradas" class="card">
      <div class="info-trabajo">
        <h2>{{ s.titulo }}</h2>
        <p class="detalle">Por {{ s.nombre }}</p>
        <p class="info">
          {{ s.ubicacion }} · {{ s.categoria }} ·
          <span class="pago">${{ s.pago | number }}</span>
        </p>
        <p class="fecha">Aplicado el {{ s.fecha }}</p>
      </div>

      <div class="acciones">
        <div class="estado" [ngClass]="s.estado.toLowerCase()">
          {{ s.estado }}
        </div>
        <button class="btn-ver">Ver Trabajo</button>
      </div>
    </div>
  </div>
</div>