<form (ngSubmit)="guardarCambios()" class="card shadow-sm border-0 h-100">
  <div class="card-body">

    <div class="mb-2">
      <p class="text-muted small mb-1">
        Por {{ item.nombre }} · {{ item.ubicacion }}
      </p>
      <p class="text-secondary small">Aplicado el {{ item.fecha }}</p>
    </div>

    <select 
  class="form-select mb-2" 
  [(ngModel)]="item.estado" 
  name="estado_{{item.id}}"
  [disabled]="item.estado === 'aceptada' || item.estado === 'rechazada'">
  <option [value]="'pendiente'" disabled>Pendiente</option>
  <option [value]="'aceptada'">Aceptar</option>
  <option [value]="'rechazada'">Rechazar</option>
</select>

<!-- 👇 Mostrar el input SOLO si es aceptada Y aún es pendiente (no final) -->
<div *ngIf="item.estado === 'aceptada' && !bloqueado()" class="mt-3">
  <label class="form-label small fw-semibold">Fecha de inicio</label>
  <input
    type="date"
    class="form-control"
    [(ngModel)]="item.fechaInicio"
    name="fechaInicio_{{item.id}}"
    (click)="$event.stopPropagation()"
  />
</div>


    <button type="submit" class="btn w-100 mt-3" [ngClass]="claseBoton()">
      Guardar cambios
    </button>

  </div>
</form>
