<div class="container card shadow p-4" style="margin: 0 auto;">
    <h5 class="fw-bold">Detalles del perfil</h5>
    <span class="text-muted">Completa tu perfil con información adicional</span>
    <hr>

    <form (ngSubmit)="onSubmit()">

        <div class="mb-3">
            <label class="form-label">Género</label>
            <select class="form-control" name="gender" [(ngModel)]="formData.gender">
                <option value="">Selecciona una opción</option>
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>
            </select>
        </div>


        <div class="mb-3">
            <label class="form-label">Fecha de Nacimiento</label>
            <input type="date" 
                    class="form-control"
                    name="birthday"
                    [(ngModel)]="formData.birthday">
        </div>

        <div class="mb-3">
            <label class="form-label">Descripción</label>
            <input type="text" 
                    class="form-control"
                    name="description"
                    placeholder="Cuéntanos sobre tí, tu experiencia laboral o habilidades."
                    [(ngModel)]="formData.description">
        </div>

        <button type="submit" class="btn custom-btn">Guardar Cambios</button>

    </form>
</div>
