<div class="container card shadow p-4" style=" margin: 0 auto;">
    <h5 class="fw-bold">Detalles del perfil</h5>
    <span class="text-muted">Completa tu perfil con información adicional</span>
    <hr>
    <form>
        <div class="mb-3">
        <label for="fullName" class="form-label">Género</label>
        <input type="text" class="form-control" id="fullName" placeholder="Ingresa tu género">
        </div>
        <div class="mb-3">
        <label for="dob" class="form-label">Fecha de Nacimiento</label>
        <input type="date" class="form-control" id="dob">
        </div>
        <div class="mb-3">
        <label for="address" class="form-label">Descripción</label>
        <input type="text" class="form-control" id="address" placeholder="Cuéntanos sobre tí, tu experiencia laboral o habilidades.">
        </div>
        <button type="submit" class="btn custom-btn">Guardar Cambios</button>
    </form>
</div>