<div class="card shadow rounded-3">
    <div class="card-body">
        <h5 class="card-title">Limpieza de Casa</h5>
        <div class="d-flex gap-3 align-items-center mb-2">
            <i class="bi bi-geo-alt"></i>
            <span class="text-muted">Centro, Ciudad</span>
        </div>
        <p>Necesito ayuda para la limpieza de 3 habitaciones. Incluye baños, cocina y áreas comunes</p>
        <div class="d-flex gap-3 justify-content-between align-items-center mb-2">
            <span style="color: limegreen;"> $50,000 </span>
            <div class="d-flex gap-2 align-items-center">
                <i class="bi bi-clock"></i>
                <span>Hace 5 horas</span>
            </div>
        </div>
    </div>
</div>