<div class="card text-center shadow-sm d-flex flex-column justify-content-center p-3" 
     style="width: 14rem; aspect-ratio:1/1; border-radius:20px;">
  
  <div class="d-flex align-items-center  gap-3 mb-5">
    <i class="bi" [ngClass]="icon" style="font-size: 1.3rem;"></i>
    <h5 class="card-title m-0">{{ title }}</h5>
  </div>
  
  <!-- <div class="flex-grow-1"></div> -->
  
  <div class="text-start">
    <p class="card-text " style="font-size: 14px; color: rgb(132, 132, 132);">
      {{ description }}
    </p>
    <button class="btn btn-dark btn-sm rounded-3" routerLink={{link}}>
      {{ txtbtn }}
    </button>
  </div>

</div>
